
.logo {
    width:200px;
    float:right;
    margin-top:15px;
}

@media (max-width: 991px) {
    .logo {
        margin-top: 70px;
    }
}

@media (max-width: 450px) {
    .logo {
        position: absolute;
        right: 0;
        top: -50px;
        padding: 10px 60px;
        background: white;
        width: 100%;
        z-index: 99;
        margin: auto;
        left: 0;
    }
}